<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="articol" *ngFor="let item of test">
        <div>
          <img class="picture" src="{{item.imageURL}}" alt="poza">
        </div>
        <div class="cut-text">
          {{item.Content}}
        </div>
        <div class="btn-group btn-group-toggle tab" data-toggle="buttons">
          <label class="btn btn-outline-secondary">
            <input routerLink="/article" (click)="onclick(item.id)" type="radio" name="options" id="option1"> View
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" name="options" id="option2"> Edit
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

