
<div class=" d-flex justify-content-center container">

    <div class="rectangle">
      <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <h2 class="title">{{chapter?.title}}</h2>
        </div>
        <div class="col-sm-3">
          <div id="parallelogram" class="col-xs-4" >
            <pre class="experience"> 100 xp</pre>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="time">
        <h6>Estimated time : {{chapter?.time}} minutes</h6>
        </div>
      </div>

      <div class="row">
        <div class="content" innerHTML={{chapter?.content}}></div>
      </div>

      <div class="row">
        <h5 class="next">Previous Chapter: </h5>
        <h5 style="margin-left: 750px;"  class="next">Next Chapter: </h5>
      </div>
      <div class="row">
        <button  (click)="switchIdBack()" routerLinkActive="active" id="nextButton" type="button" class="btn btn-primary">Previous</button>
        <button style="margin-left: 600px;" (click)="switchId()" routerLinkActive="active" id="nextButton" type="button" class="btn btn-primary">Continue</button>
      </div>
    </div>
    </div>
</div>
