.experience {
  transform: skew(0deg);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.test1{
  float: left;
  border-right: 15px solid #128712;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.test2{
  float: left;
  width: 100px;
  height: 30px;
  background-color: #128712;
}
.test3{
  float: left;
  border-left: 15px solid #128712;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.poza{
  margin-left: 128px;
  width: 200px;
}

.hexagon{
  margin-top: 200px;
  position: absolute;
  margin-left: 180px;
  z-index: 1;
}

